<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    <title>Login Administrador</title>
</head>
<body>
    <header>
        <h1>Tela de Login para Administradores</h1>
        <a href="/"><button>Voltar</button></a>
    </header>
    <form  method="POST" action="/menuAdm/">
        <h2>Insira seus dados</h2>
        <p>Email:</p> <br />
        <input type="text" name="email" placeholder="Ex: email@gmail.com"/> <br />
        <p>Senha:</p> <br />
        <input type="password" name="pass" placeholder="Ex: **********"/>
        <p style="color: red;">
            {% set mensagens = get_flashed_messages() %}
            {% if mensagens %}
                {%for i in mensagens%}
                    {{i}}
                {% endfor %}
            {% endif %}
        </p>
        <div class="btn">
            <input type="submit" name="btn" value="Entrar" />
            <input type="reset" value="Limpar">
        </div>
    </form>
</body>
</html>

