<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='produto.css')}}">
    <title>Menu</title>
    <script>
        function comprar(id){
        let m = '';
        {% set mensagem = get_flashed_messages() %}
        {% for m in mensagem %}
            m += '{{m}}';
            alert(m);
        {% endfor %}
        }
    </script>
</head>

<body>
    <header>
        <h1>{{ prod[0][1] }}</h1>
        <a href="/"><button name="sair">Sair</button></a>
    </header>
    <div class="info">
        <div>
            {% set img = prod[0][2]+'.jpg' %}
            <img src="{{url_for('static', filename=img )}}" />
        </div>
        <div>
            <h2>{{ prod[0][1] }}</h2>
            <div class="preco">
                <h3>Preço:</h3>
                {% set p = ('%.2f' %(prod[0][3])) %}
                <p>{{p}}</p>
            </div>
            <form action="/menu/{{prod[0][0]}}/comprar/">
                <input type="submit" name="comprar"  velue ="Comprar" onclick="comprar('{{prod[0][0]}}')" />
            </form>
        </div>
    </div>
</body>

</html>