<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='tabela.css')}}" />
    <title>Tabela</title>
    <script src="{{url_for('static', filename='tabela.js')}}"></script>
</head>

<body>
    <header>
        <h1>{{ "Tabela "+tabela.capitalize() }}</h1>
        <a href="/menuAdm/"><button>Voltar</button></a>
    </header>
    <h2>Selecione um registro para alterá-lo.</h2>
    <div class="tabform">
        <table border="1px" width="60%">
            <tr>
                {% for i in colunas %}
                <th>{{ i.capitalize() }}</th>
                {% endfor %}
            </tr>
            {% for linha in dados %}
            <tr onclick="habilita('{% for i in linha%}{{i}}pontevirgula{% endfor %}')">
                {% for i in linha%}
                <td>{{ i }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

        <form action="/menuAdm/{{tabela}}/alteratab/" method="POST">
            {% for i in colunas %}
            <p>{{i+':'}}</p>
            <input type="text" name="{{i}}" disabled />
            {% endfor%}
            <br />
            <div class="btn">
                <input type="submit" name="submit" value="Alterar" onclick="sub()" disabled />
                <input type="button" name="limpar" value="Limpar" onclick="limpa()" disabled />
                <input type="button" id="adicionar" name="adicionar" value="Novo" onclick="adiciona()" />
                <input type="submit" name="excluir" value="Excluir" onclick="exclui()" disabled />

            </div>
            <input type="hidden" id="chave" name="chave" disabled />
            <input type="submit" hidden/>

        </form>
    </div>
    <br />
    <br />
</body>

</html>