*{
    font-family: Helvetica;
}
body{
    margin:0;
}
header{
    background-color:#13293d;
    color:white;
    padding:20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}
header button{
    margin-top:10%;
    height:80%;
    width:115%;
    font-weight: bold;
    border:0;
    border-radius: 35%;
}
h2{
    margin-top:3%;
}
form{
    width:28%;
    background-color:#87CEFA ;
    padding: 50px;
    padding-right: 0;
    padding-left: 40px;
    border-radius: 30px;
    box-shadow: 0 0 20px #13293d;
    margin:0 auto;
}
input{
    height:25px;
    width:80%;
}
p{
    margin-bottom: 0px;
}
.btn{
    display:flex;
    justify-content: space-around;
    padding-right: 10%;
}
.btn input{
    width:25%;
    margin-top: 10px;
    height:30px;   
    color:white;
    background-color: #13293d;
    font-weight: bold;
}
button:active, .btn input:active{
    opacity: 0.7;
}