<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    <title>Login</title>
    <script>
        function cadastrar(){
            window.location.href ='/cadastrar/';
        }
    </script>
</head>
<body>
    {% set mensagem = get_flashed_messages() %}
    <header>
        <h1>Tela de Login</h1>
    </header>
    <form  method="POST" action="/menu/">
        <h2>Insira seus dados</h2>
        <p>Email:</p> <br />
        <input type="text" name="email" placeholder="Ex: email@gmail.com"/> <br />
        <p>Senha:</p> <br />
        <input type="password" name="pass" placeholder="Ex: **********"/><br />
        {% if mensagem %}
            {% for m in mensagem %}
                {% if m != "email ou senha inválido" %}<script>alert("{{m}}")</script>{% endif %}
                {% if m == "email ou senha inválido" %}<p style="color:red;" >{{ m }}</p>{% endif %}
            {% endfor %}
        {% endif %}
        <div class="btn">
            <input type="submit" value="Entrar" />
            <input type="button" value="Cadastrar" onclick="cadastrar()"/>
        </div>
    </form>
</body>
</html>