*{
    font-family: Helvetica;
}

body{
    margin: 0;
    padding: 0;
}
header{
    display:flex;
    height:10%;
    padding: 10px;
    padding-right: 40px;
    align-items: center;
    background-color: #13293d;
    color: white;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
header button{
    height: 50px;
    width: 50px;
}
.conteudo{
    margin:0 auto;
    border-radius: 30px;
    box-shadow: 0 0 10px #13293d;
    max-width:85% ;
    padding:20px;
    background-color: white;
}
.dados{
    display:flex;
    justify-content: space-between;
    padding-right:5%;
    padding-left: 5%;
}
.dados button{
    height: 60%;
    background-color:#1b98e0;
    border:0;
    font-weight: bold;
    min-width: 120%;
    margin-top: 35%;
}
.dados button:hover{
    box-shadow:0 0 5px #13293d;
}