*{
    font-family:Helvetica;
}
body{
    margin:0 ;
}

h2{
    margin-left: 20px;
}

.tabform{
    display:flex;
    margin:0 auto;
    justify-content: space-around;
}
header{
    background-color:#13293d;
    color:white;
    padding:20px;
    display: flex;
    justify-content: space-between;
}
header button{
    margin-top:10%;
    height:80%;
}
form{
    width:28%;
    background-color:#87CEFA ;
    padding: 20px;
    padding-right: 0;
    border-radius: 30px;
    box-shadow: 0 0 20px #13293d;
}
input{
    height:25px;
    width:80%;
}
form p{
    margin-bottom: 3px;
}
input[disabled]{
    opacity:0.5;
}
table{
    border: 5px, solid, #13293d;
    border-collapse: collapse;
    width:60%;
    box-shadow: 0 0 20px #13293d;
}
th{
    padding: 10px;
    background-color: #87CEFA;
}

td{
    padding:10px;
    text-align: center;
    
}
tr:hover{
    background-color:#d2e6ff ;
}
.btn{
    display:flex;
    justify-content: space-between;
    padding-right: 10%;
}
.btn input{
    width:20%;
    margin-top: 10px;
    height:30px;   
    color:white;
    background-color: #13293d;
    font-weight: bold;
}